.paddings {
    padding: 10px !important;  
}
.centerMake{
    text-align: center !important;
}
.paperstyle{
    padding:'50px 90px' !important;
    width:500000 !important;
    margin:'20px auto' !important;
}
